@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
/*
$fontSize-third: 
$fontSize-fourth: 
$fontSize-fifth: */
/*szary pod nagłówkami w sekcjach*/
/*kolor tekstu about us*/
/*price table text*/
/*premium text*/
/*black*/
/*jasno-szary*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  text-transform: uppercase;
  background: #b88b58;
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  width: 197px;
  height: 48px;
  border: none;
  border-radius: 20px;
  pointer: cursor;
}

.pagination {
  position: absolute;
  /*add position relative for section*/
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination .circle {
  width: 15px;
  height: 15px;
  margin: 4px;
  border: 2px solid #b88b58;
  border-radius: 50%;
  display: inline-block;
}

.pagination .active {
  background: #b88b58;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
header {
  background: #000000;
}

header .menu-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .menu-section .awax {
  pointer: cursor;
}

header .menu-section ul {
  list-style: none;
}

header .menu-section ul li {
  display: inline-block;
  margin-right: 25px;
}

header .menu-section ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  pointer: cursor;
}

header .menu-section ul li a:after {
  content: "";
  height: 3px;
  width: 0;
  background: #b88b58;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition-timing-function: 0.6s;
}

header .menu-section ul li a:hover:after {
  opacity: 1;
  width: 100%;
}

/*HERO*/
.section-hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  min-height: 700px;
  position: relative;
}

.section-hero .slogan {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.section-hero .slogan h1 {
  text-transform: uppercase;
  font-size: 72px;
  color: #fff;
  line-height: 69px;
}

.section-hero .slogan h1 span {
  color: #b88b58;
}

.section-hero .slogan h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 45px;
}

/*ABOUT US*/
.section-about-us {
  background: #F7F7F7;
  position: relative;
}

.section-about-us .telephone {
  width: 67px;
  height: 67px;
  background: #b88b58;
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 90%;
  top: -35px;
  box-shadow: 0 3px 8px rgba(0, 0, 1, 0.24);
}

.section-about-us h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding-top: 63px;
  padding-bottom: 10px;
}

.section-about-us h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #aeaeae;
  padding-bottom: 55px;
}

.section-about-us .about-us {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 90px;
}

.section-about-us .about-us .text-about-us {
  width: 634px;
  margin-left: 60px;
}

.section-about-us .about-us .text-about-us p {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  color: #242424;
}

.section-about-us .about-us .text-about-us button {
  margin-top: 32px;
}

.section-about-us .about-us .video {
  background-color: #AEAEAF;
  margin-left: 30px;
  height: 275px;
  box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42);
}

/*SERVICES*/
.section-services {
  background: #000000;
}

.section-services h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding-top: 63px;
  padding-bottom: 10px;
  color: #fff;
}

.section-services h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #aeaeae;
  padding-bottom: 55px;
}

.section-services .services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: 42px;
}

.section-services .services .icons {
  border-left: 2px solid #3A3A3A;
  border-top: none;
  border-bottom: none;
  width: 281px;
  height: 212px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.section-services .services .icons img {
  width: 62px;
  padding-top: 9px;
  padding-bottom: 37px;
}

.section-services .services .icons h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.section-services .services .icons p {
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  color: #7e7e7e;
}

.section-services .services .support {
  border-right: 2px solid #3A3A3A;
}

/*OUR PROJECTS*/
.section-our-projects {
  background: #F7F7F7;
  padding-bottom: 55px;
}

.section-our-projects h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding-top: 63px;
  padding-bottom: 10px;
}

.section-our-projects h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #aeaeae;
  padding-bottom: 55px;
}

.section-our-projects ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 40px;
  background: #ededed;
  width: 720px;
  height: 62px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.section-our-projects ul li {
  border-left: 1px solid #cfcfcf;
  height: 52px;
  padding: 20px 25px;
}

.section-our-projects ul li:first-child {
  border-left: none;
}

.section-our-projects ul li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.section-our-projects ul li a:after {
  content: "";
  height: 6px;
  width: 130%;
  background-color: #b88b58;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  margin-top: 11px;
  transition: 0.6s;
  opacity: 0;
}

.section-our-projects ul li a:hover:after {
  opacity: 1;
  width: 130%;
}

.section-our-projects .photos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.section-our-projects .photos .image {
  width: 255px;
  height: 165px;
  position: relative;
  margin: 15px;
}

.section-our-projects .photos .image .layer {
  width: 255px;
  height: 165px;
  position: absolute;
  transition: 0.8s;
  opacity: 0;
  background: #000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.section-our-projects .photos .image .layer .text-box {
  width: 185px;
}

.section-our-projects .photos .image .layer .text-box h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.section-our-projects .photos .image .layer .text-box p {
  font-size: 12px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  padding-top: 5px;
}

.section-our-projects .photos .image .layer:hover {
  opacity: 0.75;
}

.section-our-projects button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

/*TEAM*/
.section-team {
  background-image: url(../images/background-team.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.section-team h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding-top: 63px;
  padding-bottom: 10px;
  color: #fff;
}

.section-team h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #aeaeae;
  padding-bottom: 55px;
}

.section-team .our-team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.section-team .our-team .workers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 350px;
  height: 430px;
  background: #fff;
  margin: 0 20px 10px 20px;
}

.section-team .our-team .workers .workers-photo {
  background: red;
  border-radius: 50%;
  width: 184px;
  height: 183px;
  margin-top: 50px;
  margin-bottom: 45px;
}

.section-team .our-team .workers .jane {
  background: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d43ec18ec2cf6ff854513b9e8395c1e&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

.section-team .our-team .workers .mike {
  background: url("https://images.unsplash.com/photo-1506085452766-c330853bea50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c90ef12b4dc22a4a4c277dd056dd0b7e&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
}

.section-team .our-team .workers .anna {
  background: url("https://images.pexels.com/photos/1036622/pexels-photo-1036622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.section-team .our-team .workers h2 {
  text-transform: uppercase;
  text-align: center;
}

.section-team .our-team .workers p {
  text-align: center;
  font-size: 14px;
  color: #7e7e7e;
  padding-top: 5px;
  padding-bottom: 38px;
}

.section-team .our-team .workers .social-media {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.section-team .our-team .workers .social-media a {
  text-decoration: none;
  margin-left: 5px;
}

.section-team .our-team .workers .social-media a .fab {
  color: #fff;
  background: #bebebe;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  transition: 0.5s;
}

.section-team .our-team .workers .social-media a .fab:hover {
  background: #b88b58;
}

/*HAPPY CLIENTS*/
.section-happy-clients {
  background: #F7F7F7;
  position: relative;
}

.section-happy-clients h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding-top: 63px;
  padding-bottom: 10px;
}

.section-happy-clients h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  color: #aeaeae;
  padding-bottom: 55px;
}

.section-happy-clients .clients {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 106px;
}

.section-happy-clients .clients .client {
  background: url("https://images.pexels.com/photos/1109637/pexels-photo-1109637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 29px;
}

.section-happy-clients .clients h2 {
  text-transform: uppercase;
  text-align: center;
}

.section-happy-clients .clients h3 {
  text-transform: none;
  font-size: 18px;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 0;
}

.section-happy-clients .clients h3 span {
  text-transform: uppercase;
}

.section-happy-clients .clients img {
  width: 27px;
  height: 20px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.section-happy-clients .clients .text-clients {
  max-width: 728px;
}

.section-happy-clients .clients .text-clients p {
  font-size: 14px;
  line-height: 25px;
  color: #7e7e7e;
  text-align: center;
}

/*LOGOS*/
.section-logos {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.section-logos .logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 56px;
  padding-bottom: 17px;
}

.section-logos .logos .photo-logo {
  padding: 0 39px 20px 39px;
}
/*# sourceMappingURL=style.css.map */